**/*id_ed25519*
**/id_ed25519.*
**/id_ed25519
**/.vagrant
*.iso
*.dmg
*.com
*.class
*.dll
*.exe
.DS_Store
.DS_Store?
._*
**/*.txz
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dev.lst

# Vi files #
############
**/*~
**/*.bak
**/*.sw[abcdefghijklmnop]

**/*.ORG
Makefile.proj
db2dpsrc
fnm2db-new.pl
getbstrlib
install-sh
libssh2-1.7.0
libssh2_config.h
remote.sh.log
tests
version.c
version.h
version.pm
x.pl
**/not-on-git
**/obsolite
**/data
**/host.config
**/data/openvpn/*
**/data/openvpn_test/*
**/*vpn-udp-1194*
**/ssh/id_*
**/data/drivers/*
**/compile_stock_driver/*.gz
**/compile_stock_driver/
**/compile_stock_driver/ixgbe*
**/compile_stock_driver/i40e*
**/i2dps_*/
