Package: __project__
Version: __version__
Section: base
Priority: optional
Architecture: all
Maintainer: Niels Thomas Haugård <ntha@dtu.dk>
Description: fastnetmon notification script in perl. Part of ddps
Depends: libnet-openssh-compat-perl, libnet-openssh-compat-perl, libnet-ssh2-perl, libnet-sftp-foreign-perl
